@font-face {
  src: url(dmsans.CyMML3aG.woff2) format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-family: DM Sans;
}
@font-face {
  src: url(https://assets.dojo.tech/DOJORoobert-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-family: Dojo Roobert;
}
@font-face {
  src: url(https://assets.dojo.tech/DOJORoobert-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-family: Dojo Roobert;
}
@font-face {
  src: url(https://assets.dojo.tech/DOJORoobert-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-family: Dojo Roobert;
}
@font-face {
  src: url(https://assets.dojo.tech/DOJORoobert-Display.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-family: Dojo Roobert;
}
._1gf8rf80 {
  --_1gf8rf81: #ffffff;
  --_1gf8rf82: #042f66 ;
  --_1gf8rf83: #001a15;
  --_1gf8rf84: #042f66;
  --_1gf8rf85: #042f66 ;
  --_1gf8rf86: #042f66 ;
  --_1gf8rf87: #228471;
  --_1gf8rf88: #2ba68d;
  --_1gf8rf89: #71c3b3;
  --_1gf8rf8a: #b7e0d9;
  --_1gf8rf8b: #a4f4e5;
  --_1gf8rf8c: #c3f9ee;
  --_1gf8rf8d: #e3fff4;
  --_1gf8rf8e: #f1f1ec;
  --_1gf8rf8f: #e0e0dc;
  --_1gf8rf8g: #c2c0bc;
  --_1gf8rf8h: #8e8a85;
  --_1gf8rf8i: #808080;
  --_1gf8rf8j: #645e58;
  --_1gf8rf8k: #3a3a3a;
  --_1gf8rf8l: #262626;
  --_1gf8rf8m: #ffffff00;
  --_1gf8rf8n: #ffffff;
  --_1gf8rf8o: #f6f6f2;
  --_1gf8rf8p: #180f06;
  --_1gf8rf8q: #ff8066;
  --_1gf8rf8r: #ffb100;
  --_1gf8rf8s: #66063b;
  --_1gf8rf8t: #af8bff;
  --_1gf8rf8u: #441783;
  --_1gf8rf8v: #ffffff;
  --_1gf8rf8w: #f1f1ec;
  --_1gf8rf8x: #262626;
  --_1gf8rf8y: #042f66 ;
  --_1gf8rf8z: #042f66;
  --_1gf8rf810: #042f66 ;
  --_1gf8rf811: #001a15;
  --_1gf8rf812: #c2c0bc;
  --_1gf8rf813: #ffb100;
  --_1gf8rf814: #ffffff;
  --_1gf8rf815: #042f66;
  --_1gf8rf816: #e0e0dc;
  --_1gf8rf817: #042f66;
  --_1gf8rf818: #001a15;
  --_1gf8rf819: #c2c0bc;
  --_1gf8rf81a: #ffffff00;
  --_1gf8rf81b: #e0e0dc;
  --_1gf8rf81c: #e0e0dc;
  --_1gf8rf81d: #e0e0dc;
  --_1gf8rf81e: #e0e0dc;
  --_1gf8rf81f: #c2c0bc;
  --_1gf8rf81g: #042f66;
  --_1gf8rf81h: #f1f1ec;
  --_1gf8rf81i: #e0e0dc;
  --_1gf8rf81j: #e0e0dc;
  --_1gf8rf81k: #008cf399;
  --_1gf8rf81l: #f1f1ec;
  --_1gf8rf81m: #f1f1ec;
  --_1gf8rf81n: #f1f1ec;
  --_1gf8rf81o: #e0e0dc;
  --_1gf8rf81p: #042f66 ;
  --_1gf8rf81q: #262626;
  --_1gf8rf81r: #71c3b3;
  --_1gf8rf81s: #3a3a3a;
  --_1gf8rf81t: #808080;
  --_1gf8rf81u: #645e58;
  --_1gf8rf81v: #ffffff;
  --_1gf8rf81w: #ffffff;
  --_1gf8rf81x: #ffffff;
  --_1gf8rf81y: #ffffff;
  --_1gf8rf81z: #ffffff;
  --_1gf8rf820: #c2c0bc;
  --_1gf8rf821: #180f06;
  --_1gf8rf822: #ffffff;
  --_1gf8rf823: #180f06;
  --_1gf8rf824: #ffffff;
  --_1gf8rf825: #ffffff;
  --_1gf8rf826: #c2c0bc;
  --_1gf8rf827: #042f66 ;
  --_1gf8rf828: #042f66 ;
  --_1gf8rf829: #042f66 ;
  --_1gf8rf82a: #180f06;
  --_1gf8rf82b: #c2c0bc;
  --_1gf8rf82c: #262626;
  --_1gf8rf82d: #262626;
  --_1gf8rf82e: #262626;
  --_1gf8rf82f: #262626;
  --_1gf8rf82g: #8e8a85;
  --_1gf8rf82h: #808080;
  --_1gf8rf82i: #180f06;
  --_1gf8rf82j: #808080;
  --_1gf8rf82k: #645e58;
  --_1gf8rf82l: #645e58;
  --_1gf8rf82m: #180f06;
  --_1gf8rf82n: #180f06;
  --_1gf8rf82o: #8e8a85;
  --_1gf8rf82p: #180f06;
  --_1gf8rf82q: #180f06;
  --_1gf8rf82r: #e0e0dc;
  --_1gf8rf82s: #180f06;
  --_1gf8rf82t: #042f66 ;
  --_1gf8rf82u: #c2c0bc;
  --_1gf8rf82v: #180f06;
  --_1gf8rf82w: 0.6;
  --_1gf8rf82x: 0.8;
  --_1gf8rf82y: 0.2s;
  --_1gf8rf82z: 0.4s;
  --_1gf8rf830: 1s;
  --_1gf8rf831: 0px;
  --_1gf8rf832: 1px;
  --_1gf8rf833: 2px;
  --_1gf8rf834: 4px;
  --_1gf8rf835: 8px;
  --_1gf8rf836: 12px;
  --_1gf8rf837: 16px;
  --_1gf8rf838: 20px;
  --_1gf8rf839: 24px;
  --_1gf8rf83a: 28px;
  --_1gf8rf83b: 32px;
  --_1gf8rf83c: 40px;
  --_1gf8rf83d: 48px;
  --_1gf8rf83e: 56px;
  --_1gf8rf83f: 64px;
  --_1gf8rf83g: 72px;
  --_1gf8rf83h: 80px;
  --_1gf8rf83i: 96px;
  --_1gf8rf83j: 120px;
  --_1gf8rf83k: 140px;
  --_1gf8rf83l: 64px;
  --_1gf8rf83m: 72px;
  --_1gf8rf83n: 0px;
  --_1gf8rf83o: 2px;
  --_1gf8rf83p: 4px;
  --_1gf8rf83q: 8px;
  --_1gf8rf83r: 12px;
  --_1gf8rf83s: 16px;
  --_1gf8rf83t: 20px;
  --_1gf8rf83u: 24px;
  --_1gf8rf83v: 28px;
  --_1gf8rf83w: 32px;
  --_1gf8rf83x: 40px;
  --_1gf8rf83y: 48px;
  --_1gf8rf83z: 56px;
  --_1gf8rf840: 64px;
  --_1gf8rf841: 72px;
  --_1gf8rf842: 80px;
  --_1gf8rf843: 96px;
  --_1gf8rf844: 120px;
  --_1gf8rf845: 140px;
  --_1gf8rf846: 1px;
  --_1gf8rf847: 2px;
  --_1gf8rf848: 4px;
  --_1gf8rf849: 8px;
  --_1gf8rf84a: 12px;
  --_1gf8rf84b: 16px;
  --_1gf8rf84c: 20px;
  --_1gf8rf84d: 28px;
  --_1gf8rf84e: 40px;
  --_1gf8rf84f: 2px;
  --_1gf8rf84g: 4px;
  --_1gf8rf84h: 8px;
  --_1gf8rf84i: 16px;
  --_1gf8rf84j: 24px;
  --_1gf8rf84k: 32px;
  --_1gf8rf84l: 80px;
  --_1gf8rf84m: 999px;
  --_1gf8rf84n: 2px;
  --_1gf8rf84o: 6px;
  --_1gf8rf84p: 56.25px;
  --_1gf8rf84q: 16px;
  --_1gf8rf84r: 24px;
  --_1gf8rf84s: 44px;
  --_1gf8rf84t: 116.415px;
  --_1gf8rf84u: 30px;
  --_1gf8rf84v: 150px;
  --_1gf8rf84w: 32px;
  --_1gf8rf84x: 17px;
  --_1gf8rf84y: 26px;
  --_1gf8rf84z: 15px;
  --_1gf8rf850: 320px;
  --_1gf8rf851: 320px;
  --_1gf8rf852: 652px;
  --_1gf8rf853: 240px;
  --_1gf8rf854: 652px;
  --_1gf8rf855: 320px;
  --_1gf8rf856: 22px;
  --_1gf8rf857: 22px;
  --_1gf8rf858: 16/9;
  --_1gf8rf859: 9/16;
  --_1gf8rf85a: 400;
  --_1gf8rf85b: 500;
  --_1gf8rf85c: 700;
  --_1gf8rf85d: 900;
  --_1gf8rf85e: 14px;
  --_1gf8rf85f: 16px;
  --_1gf8rf85g: 18px;
  --_1gf8rf85h: 20px;
  --_1gf8rf85i: 24px;
  --_1gf8rf85j: 28px;
  --_1gf8rf85k: 32px;
  --_1gf8rf85l: 36px;
  --_1gf8rf85m: 40px;
  --_1gf8rf85n: 44px;
  --_1gf8rf85o: 48px;
  --_1gf8rf85p: 56px;
  --_1gf8rf85q: 62px;
  --_1gf8rf85r: 64px;
  --_1gf8rf85s: 70px;
  --_1gf8rf85t: 78px;
  --_1gf8rf85u: 86px;
  --_1gf8rf85v: 92px;
  --_1gf8rf85w: 90%;
  --_1gf8rf85x: 100%;
  --_1gf8rf85y: 110%;
  --_1gf8rf85z: 120%;
  --_1gf8rf860: 140%;
  --_1gf8rf861: 150%;
  --_1gf8rf862: uppercase;
  --_1gf8rf863: underline;
  --_1gf8rf864: 0.5%;
  --_1gf8rf865: 1%;
  --_1gf8rf866: 2%;
}
._1gf8rf867 {
  --_1gf8rf81: #ffffff;
  --_1gf8rf82: #042f66 ;
  --_1gf8rf83: #001a15;
  --_1gf8rf84: #042f66;
  --_1gf8rf85: #042f66 ;
  --_1gf8rf86: #042f66 ;
  --_1gf8rf87: #228471;
  --_1gf8rf88: #2ba68d;
  --_1gf8rf89: #71c3b3;
  --_1gf8rf8a: #b7e0d9;
  --_1gf8rf8b: #a4f4e5;
  --_1gf8rf8c: #c3f9ee;
  --_1gf8rf8d: #e3fff4;
  --_1gf8rf8e: #f1f1ec;
  --_1gf8rf8f: #e0e0dc;
  --_1gf8rf8g: #c2c0bc;
  --_1gf8rf8h: #8e8a85;
  --_1gf8rf8i: #808080;
  --_1gf8rf8j: #645e58;
  --_1gf8rf8k: #3a3a3a;
  --_1gf8rf8l: #262626;
  --_1gf8rf8m: #ffffff00;
  --_1gf8rf8n: #ffffff;
  --_1gf8rf8o: #f6f6f2;
  --_1gf8rf8p: #180f06;
  --_1gf8rf8q: #ff8066;
  --_1gf8rf8r: #ffb100;
  --_1gf8rf8s: #66063b;
  --_1gf8rf8t: #af8bff;
  --_1gf8rf8u: #441783;
  --_1gf8rf8v: #262626;
  --_1gf8rf8w: #3a3a3a;
  --_1gf8rf8x: #f1f1ec;
  --_1gf8rf8y: #ffffff;
  --_1gf8rf8z: #a4f4e5;
  --_1gf8rf810: #ffffff;
  --_1gf8rf811: #e3fff4;
  --_1gf8rf812: #042f66;
  --_1gf8rf813: #ffb100;
  --_1gf8rf814: #ffffff00;
  --_1gf8rf815: #a4f4e5;
  --_1gf8rf816: #e0e0dc;
  --_1gf8rf817: #a4f4e5;
  --_1gf8rf818: #e3fff4;
  --_1gf8rf819: #042f66 ;
  --_1gf8rf81a: #ffffff00;
  --_1gf8rf81b: #042f66;
  --_1gf8rf81c: #042f66;
  --_1gf8rf81d: #042f66;
  --_1gf8rf81e: #042f66;
  --_1gf8rf81f: #c2c0bc;
  --_1gf8rf81g: #042f66;
  --_1gf8rf81h: #3a3a3a;
  --_1gf8rf81i: #645e58;
  --_1gf8rf81j: #645e58;
  --_1gf8rf81k: #008cf399;
  --_1gf8rf81l: #3a3a3a;
  --_1gf8rf81m: #f1f1ec;
  --_1gf8rf81n: #f1f1ec;
  --_1gf8rf81o: #e0e0dc;
  --_1gf8rf81p: #042f66 ;
  --_1gf8rf81q: #ffffff;
  --_1gf8rf81r: #ffffff;
  --_1gf8rf81s: #e0e0dc;
  --_1gf8rf81t: #8e8a85;
  --_1gf8rf81u: #645e58;
  --_1gf8rf81v: #ffffff;
  --_1gf8rf81w: #001a15;
  --_1gf8rf81x: #001a15;
  --_1gf8rf81y: #001a15;
  --_1gf8rf81z: #001a15;
  --_1gf8rf820: #042f66 ;
  --_1gf8rf821: #ffffff;
  --_1gf8rf822: #001a15;
  --_1gf8rf823: #180f06;
  --_1gf8rf824: #001a15;
  --_1gf8rf825: #001a15;
  --_1gf8rf826: #042f66 ;
  --_1gf8rf827: #ffffff;
  --_1gf8rf828: #ffffff;
  --_1gf8rf829: #ffffff;
  --_1gf8rf82a: #ffffff;
  --_1gf8rf82b: #042f66 ;
  --_1gf8rf82c: #ffffff;
  --_1gf8rf82d: #ffffff;
  --_1gf8rf82e: #ffffff;
  --_1gf8rf82f: #ffffff;
  --_1gf8rf82g: #8e8a85;
  --_1gf8rf82h: #8e8a85;
  --_1gf8rf82i: #180f06;
  --_1gf8rf82j: #808080;
  --_1gf8rf82k: #645e58;
  --_1gf8rf82l: #645e58;
  --_1gf8rf82m: #180f06;
  --_1gf8rf82n: #180f06;
  --_1gf8rf82o: #8e8a85;
  --_1gf8rf82p: #180f06;
  --_1gf8rf82q: #180f06;
  --_1gf8rf82r: #e0e0dc;
  --_1gf8rf82s: #180f06;
  --_1gf8rf82t: #ffffff;
  --_1gf8rf82u: #c2c0bc;
  --_1gf8rf82v: #180f06;
  --_1gf8rf82w: 0.6;
  --_1gf8rf82x: 0.8;
  --_1gf8rf82y: 0.2s;
  --_1gf8rf82z: 0.4s;
  --_1gf8rf830: 1s;
  --_1gf8rf831: 0px;
  --_1gf8rf832: 1px;
  --_1gf8rf833: 2px;
  --_1gf8rf834: 4px;
  --_1gf8rf835: 8px;
  --_1gf8rf836: 12px;
  --_1gf8rf837: 16px;
  --_1gf8rf838: 20px;
  --_1gf8rf839: 24px;
  --_1gf8rf83a: 28px;
  --_1gf8rf83b: 32px;
  --_1gf8rf83c: 40px;
  --_1gf8rf83d: 48px;
  --_1gf8rf83e: 56px;
  --_1gf8rf83f: 64px;
  --_1gf8rf83g: 72px;
  --_1gf8rf83h: 80px;
  --_1gf8rf83i: 96px;
  --_1gf8rf83j: 120px;
  --_1gf8rf83k: 140px;
  --_1gf8rf83l: 64px;
  --_1gf8rf83m: 72px;
  --_1gf8rf83n: 0px;
  --_1gf8rf83o: 2px;
  --_1gf8rf83p: 4px;
  --_1gf8rf83q: 8px;
  --_1gf8rf83r: 12px;
  --_1gf8rf83s: 16px;
  --_1gf8rf83t: 20px;
  --_1gf8rf83u: 24px;
  --_1gf8rf83v: 28px;
  --_1gf8rf83w: 32px;
  --_1gf8rf83x: 40px;
  --_1gf8rf83y: 48px;
  --_1gf8rf83z: 56px;
  --_1gf8rf840: 64px;
  --_1gf8rf841: 72px;
  --_1gf8rf842: 80px;
  --_1gf8rf843: 96px;
  --_1gf8rf844: 120px;
  --_1gf8rf845: 140px;
  --_1gf8rf846: 1px;
  --_1gf8rf847: 2px;
  --_1gf8rf848: 4px;
  --_1gf8rf849: 8px;
  --_1gf8rf84a: 12px;
  --_1gf8rf84b: 16px;
  --_1gf8rf84c: 20px;
  --_1gf8rf84d: 28px;
  --_1gf8rf84e: 40px;
  --_1gf8rf84f: 2px;
  --_1gf8rf84g: 4px;
  --_1gf8rf84h: 8px;
  --_1gf8rf84i: 16px;
  --_1gf8rf84j: 24px;
  --_1gf8rf84k: 32px;
  --_1gf8rf84l: 80px;
  --_1gf8rf84m: 999px;
  --_1gf8rf84n: 2px;
  --_1gf8rf84o: 6px;
  --_1gf8rf84p: 56.25px;
  --_1gf8rf84q: 16px;
  --_1gf8rf84r: 24px;
  --_1gf8rf84s: 44px;
  --_1gf8rf84t: 116.415px;
  --_1gf8rf84u: 30px;
  --_1gf8rf84v: 150px;
  --_1gf8rf84w: 32px;
  --_1gf8rf84x: 17px;
  --_1gf8rf84y: 26px;
  --_1gf8rf84z: 15px;
  --_1gf8rf850: 320px;
  --_1gf8rf851: 320px;
  --_1gf8rf852: 652px;
  --_1gf8rf853: 240px;
  --_1gf8rf854: 652px;
  --_1gf8rf855: 320px;
  --_1gf8rf856: 22px;
  --_1gf8rf857: 22px;
  --_1gf8rf858: 16/9;
  --_1gf8rf859: 9/16;
  --_1gf8rf85a: 400;
  --_1gf8rf85b: 500;
  --_1gf8rf85c: 700;
  --_1gf8rf85d: 900;
  --_1gf8rf85e: 14px;
  --_1gf8rf85f: 16px;
  --_1gf8rf85g: 18px;
  --_1gf8rf85h: 20px;
  --_1gf8rf85i: 24px;
  --_1gf8rf85j: 28px;
  --_1gf8rf85k: 32px;
  --_1gf8rf85l: 36px;
  --_1gf8rf85m: 40px;
  --_1gf8rf85n: 44px;
  --_1gf8rf85o: 48px;
  --_1gf8rf85p: 56px;
  --_1gf8rf85q: 62px;
  --_1gf8rf85r: 64px;
  --_1gf8rf85s: 70px;
  --_1gf8rf85t: 78px;
  --_1gf8rf85u: 86px;
  --_1gf8rf85v: 92px;
  --_1gf8rf85w: 90%;
  --_1gf8rf85x: 100%;
  --_1gf8rf85y: 110%;
  --_1gf8rf85z: 120%;
  --_1gf8rf860: 140%;
  --_1gf8rf861: 150%;
  --_1gf8rf862: uppercase;
  --_1gf8rf863: underline;
  --_1gf8rf864: 0.5%;
  --_1gf8rf865: 1%;
  --_1gf8rf866: 2%;
}
._1gf8rf868 {
  --_1gf8rf869: var(--_1gf8rf8n);
  --_1gf8rf86a: var(--_1gf8rf84);
  --_1gf8rf86b: var(--_1gf8rf81);
  --_1gf8rf86c: var(--_1gf8rf8n);
  --_1gf8rf86d: var(--_1gf8rf8n);
  --_1gf8rf86e: var(--_1gf8rf8b);
  --_1gf8rf86f: var(--_1gf8rf8b);
  --_1gf8rf86g: var(--_1gf8rf8p);
  --_1gf8rf86h: var(--_1gf8rf8j);
  --_1gf8rf86i: var(--_1gf8rf8o);
  --_1gf8rf86j: var(--_1gf8rf8e);
  --_1gf8rf86k: var(--_1gf8rf85);
  --_1gf8rf86l: var(--_1gf8rf8e);
  --_1gf8rf86m: #00000000;
  --_1gf8rf86n: #e0e0dc;
  --_1gf8rf86o: var(--_1gf8rf85);
  --_1gf8rf86p: var(--_1gf8rf8f);
  --_1gf8rf86q: 70px;
  --_1gf8rf86r: 64px;
  --_1gf8rf86s: 200px;
  --_1gf8rf86t: 101px;
  --_1gf8rf86u: 26px;
  --_1gf8rf86v: 272px;
  --_1gf8rf86w: 608px;
  --_1gf8rf86x: 409px;
  --_1gf8rf86y: 10px;
  --_1gf8rf86z: 6px;
  --_1gf8rf870: 55px;
  --_1gf8rf871: 120px;
  --_1gf8rf872: 20px;
  --_1gf8rf873: 50px;
  --_1gf8rf874: 1160px;
  --_1gf8rf875: calc(var(--_1gf8rf834) + var(--_1gf8rf833));
  --_1gf8rf876: var(--_1gf8rf837);
  --_1gf8rf877: 20px;
  --_1gf8rf878: 16px;
  --_1gf8rf879: 22px;
  --_1gf8rf87a: 31px;
  --_1gf8rf87b: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
  --_1gf8rf87c: 0px 6px 12px 6px rgba(0, 0, 0, 0.12);
}
._1gf8rf87d {
  --_1gf8rf869: var(--_1gf8rf8n);
  --_1gf8rf86a: #2c2c2c;
  --_1gf8rf86b: var(--_1gf8rf81);
  --_1gf8rf86c: var(--_1gf8rf8n);
  --_1gf8rf86d: var(--_1gf8rf8n);
  --_1gf8rf86e: var(--_1gf8rf8b);
  --_1gf8rf86f: var(--_1gf8rf8b);
  --_1gf8rf86g: var(--_1gf8rf8p);
  --_1gf8rf86h: var(--_1gf8rf8j);
  --_1gf8rf86i: var(--_1gf8rf8e);
  --_1gf8rf86j: var(--_1gf8rf8e);
  --_1gf8rf86k: var(--_1gf8rf85);
  --_1gf8rf86l: var(--_1gf8rf8e);
  --_1gf8rf86m: #262626;
  --_1gf8rf86n: #e0e0dc;
  --_1gf8rf86o: var(--_1gf8rf85);
  --_1gf8rf86p: var(--_1gf8rf8f);
  --_1gf8rf86q: 70px;
  --_1gf8rf86r: 64px;
  --_1gf8rf86s: 200px;
  --_1gf8rf86t: 101px;
  --_1gf8rf86u: 26px;
  --_1gf8rf86v: 272px;
  --_1gf8rf86w: 608px;
  --_1gf8rf86x: 409px;
  --_1gf8rf86y: 10px;
  --_1gf8rf86z: 6px;
  --_1gf8rf870: 55px;
  --_1gf8rf871: 120px;
  --_1gf8rf872: 20px;
  --_1gf8rf873: 50px;
  --_1gf8rf874: 1160px;
  --_1gf8rf875: calc(var(--_1gf8rf834) + var(--_1gf8rf833));
  --_1gf8rf876: var(--_1gf8rf837);
  --_1gf8rf877: 20px;
  --_1gf8rf878: 16px;
  --_1gf8rf879: 22px;
  --_1gf8rf87a: 31px;
  --_1gf8rf87b: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
  --_1gf8rf87c: 0px 6px 12px 6px rgba(0, 0, 0, 0.12);
}
._1gf8rf87e {
  --_1gf8rf869: var(--_1gf8rf8n);
  --_1gf8rf86a: var(--_1gf8rf8e);
  --_1gf8rf86b: var(--_1gf8rf81);
  --_1gf8rf86c: var(--_1gf8rf83);
  --_1gf8rf86d: var(--_1gf8rf8n);
  --_1gf8rf86e: var(--_1gf8rf84);
  --_1gf8rf86f: var(--_1gf8rf8b);
  --_1gf8rf86g: var(--_1gf8rf8p);
  --_1gf8rf86h: var(--_1gf8rf8j);
  --_1gf8rf86i: var(--_1gf8rf8o);
  --_1gf8rf86j: var(--_1gf8rf8e);
  --_1gf8rf86k: var(--_1gf8rf85);
  --_1gf8rf86l: var(--_1gf8rf8e);
  --_1gf8rf86m: #00000000;
  --_1gf8rf86n: #e0e0dc;
  --_1gf8rf86o: var(--_1gf8rf85);
  --_1gf8rf86p: var(--_1gf8rf8f);
  --_1gf8rf86q: 70px;
  --_1gf8rf86r: 64px;
  --_1gf8rf86s: 200px;
  --_1gf8rf86t: 101px;
  --_1gf8rf86u: 26px;
  --_1gf8rf86v: 272px;
  --_1gf8rf86w: 608px;
  --_1gf8rf86x: 409px;
  --_1gf8rf86y: 10px;
  --_1gf8rf86z: 6px;
  --_1gf8rf870: 55px;
  --_1gf8rf871: 120px;
  --_1gf8rf872: 20px;
  --_1gf8rf873: 50px;
  --_1gf8rf874: 1160px;
  --_1gf8rf875: calc(var(--_1gf8rf834) + var(--_1gf8rf833));
  --_1gf8rf876: var(--_1gf8rf837);
  --_1gf8rf877: 20px;
  --_1gf8rf878: 16px;
  --_1gf8rf879: 22px;
  --_1gf8rf87a: 31px;
  --_1gf8rf87b: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
  --_1gf8rf87c: 0px 6px 12px 6px rgba(0, 0, 0, 0.12);
}
._1gf8rf87f {
  --_1gf8rf87g: var(--_1gf8rf8n);
  --_1gf8rf87h: var(--_1gf8rf8p);
  --_1gf8rf87i: var(--_1gf8rf8p);
  --_1gf8rf87j: 1240px;
}
._1gf8rf87k {
  --_1gf8rf87g: var(--_1gf8rf8c);
  --_1gf8rf87h: var(--_1gf8rf8p);
  --_1gf8rf87i: var(--_1gf8rf8p);
  --_1gf8rf87j: 1240px;
}
._1gf8rf87l {
  --_1gf8rf87g: var(--_1gf8rf81);
  --_1gf8rf87h: var(--_1gf8rf85);
  --_1gf8rf87i: var(--_1gf8rf85);
  --_1gf8rf87j: 1240px;
}
._1gf8rf87m {
  --_1gf8rf87g: var(--_1gf8rf8e);
  --_1gf8rf87h: var(--_1gf8rf8p);
  --_1gf8rf87i: var(--_1gf8rf8p);
  --_1gf8rf87j: 1240px;
}
._1gf8rf87n {
  --_1gf8rf87g: var(--_1gf8rf86);
  --_1gf8rf87h: var(--_1gf8rf8n);
  --_1gf8rf87i: var(--_1gf8rf8n);
  --_1gf8rf87j: 1240px;
}
._1gf8rf87o {
  --_1gf8rf87g: var(--_1gf8rf85);
  --_1gf8rf87h: var(--_1gf8rf81);
  --_1gf8rf87i: var(--_1gf8rf8n);
  --_1gf8rf87j: 1240px;
}
._1gf8rf87p {
  --_1gf8rf87g: var(--_1gf8rf84);
  --_1gf8rf87h: var(--_1gf8rf81);
  --_1gf8rf87i: var(--_1gf8rf8n);
  --_1gf8rf87j: 1240px;
}
._1gf8rf87q {
  --_1gf8rf87r: var(--_1gf8rf84);
  --_1gf8rf87s: var(--_1gf8rf8n);
  --_1gf8rf87t: var(--_1gf8rf81);
}
._1gf8rf87u {
  --_1gf8rf87r: var(--_1gf8rf8e);
  --_1gf8rf87s: var(--_1gf8rf8p);
  --_1gf8rf87t: var(--_1gf8rf84);
}
